<div *ngIf="loading" class="wrapper">
  <div class="inner">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div *ngIf="!loading" class="users-toolbar">
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  <button mat-fab color="primary" (click)="openDialog()">+</button>
</div>

<table *ngIf="!loading" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- lastName Column -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> Apellido </th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="asignaturas">
    <th mat-header-cell *matHeaderCellDef> Asignaturas </th>
    <td mat-cell *matCellDef="let element"
        class="signatures"
        matTooltip="{{getSignatures(element.technologies)}}"
        matTooltipClass="tooltip-primary"
    >{{
    (getSignatures(element.technologies).length > 20) ?
      (getSignatures(element.technologies) | slice:0:20) + '...' :
      (getSignatures(element.technologies))
    }}</td>
  </ng-container>

  <!-- Edit Column -->
  <ng-container matColumnDef="actionEdit">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell (click)="editMentor(element._id, element)" *matCellDef="let element" class="delete-assistant">
      <mat-icon
        matTooltip="Editar mentor"
        matTooltipClass="tooltip-primary"
        class="blue-icon">edit</mat-icon>
    </td>
  </ng-container>

  <!-- Clean Pass Column -->
  <ng-container matColumnDef="cleanEdit">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell (click)="cleanPassword(element._id, element)" *matCellDef="let element" class="delete-assistant">
      <mat-icon
        matTooltip="Reestablecer contraseña"
        matTooltipClass="tooltip-primary"
        class="blue-icon">lock_open</mat-icon>
    </td>
  </ng-container>

  <!-- Delete Column -->
  <ng-container matColumnDef="actionDelete">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell (click)="removeMentor(element._id)" *matCellDef="let element" class="delete-assistant">
      <mat-icon
        matTooltip="Eliminar mentor"
        matTooltipClass="tooltip-danger"
        class="red-icon">delete_outline</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="3">Sin reultados</td>
  </tr>
</table>
