
<app-header></app-header>

<mat-drawer-container class="pages-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened>
    <ul>
      <li routerLink="/campus">
        Dashboard
      </li>
      <li routerLink="/campus/users">
        Managers
      </li>
      <li routerLink="/campus/students">
        Estudiantes
      </li>
      <li routerLink="/campus/mentors">
        Mentores
      </li>
      <li routerLink="/campus/technologies">
        Tecnologias
      </li>
      <li routerLink="/campus/cursos">
        Cursos
      </li>
      <li routerLink="/campus/calendar">
        Calendar
      </li>
    </ul>

  </mat-drawer>

  <div class="main-container">
    <!--
    <button class="collapse-button" mat-mini-fab color="primary" (click)="drawer.toggle()">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
    -->
    <router-outlet></router-outlet>

  </div>

</mat-drawer-container>
