
<app-header></app-header>

<mat-drawer-container class="pages-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened>
    <ul>
      <!--li routerLink="/campus">
        <mat-icon class="menu-icon">home</mat-icon>  <span class="menu-text"> Inicio</span>
      </li-->
      <li *ngIf="isMentor" routerLink="/campus/mentor-classes">
        <mat-icon class="menu-icon">event</mat-icon>  <span class="menu-text">Mis Clases</span>
      </li>
      <li *ngIf="isStudent" routerLink="/campus/student-classes">
        <mat-icon class="menu-icon">event</mat-icon> <span class="menu-text">Mis Clases</span>
      </li>
      <li *ngIf="isAdmin || isManager" routerLink="/campus/calendar">
        <mat-icon class="menu-icon">calendar_today</mat-icon> <span class="menu-text">Calendario</span>
      </li>
      <li *ngIf="isAdmin || isManager" routerLink="/campus/commissions">
        <mat-icon class="menu-icon">group</mat-icon> <span class="menu-text">Comisiones</span>
      </li>
      <li *ngIf="isAdmin || isManager" routerLink="/campus/cursos">
        <mat-icon class="menu-icon">library_books</mat-icon> <span class="menu-text">Cursos</span>
      </li>
      <li *ngIf="isAdmin || isManager" routerLink="/campus/technologies">
        <mat-icon class="menu-icon">android</mat-icon> <span class="menu-text">Tecnologias</span>
      </li>
      <li *ngIf="isAdmin || isManager" routerLink="/campus/categories">
        <mat-icon class="menu-icon">category</mat-icon> <span class="menu-text">Categorías</span>
      </li>
      <li *ngIf="isAdmin" routerLink="/campus/users">
        <mat-icon class="menu-icon">build</mat-icon> <span class="menu-text">Managers</span>
      </li>
      <li *ngIf="isAdmin || isManager" routerLink="/campus/students">
        <mat-icon class="menu-icon">school</mat-icon> <span class="menu-text">Estudiantes</span>
      </li>
      <li *ngIf="isAdmin || isManager" routerLink="/campus/mentors">
        <mat-icon class="menu-icon">record_voice_over</mat-icon> <span class="menu-text">Mentores</span>
      </li>
      <li *ngIf="isAdmin || isManager" routerLink="/campus/publications">
        <mat-icon class="menu-icon"> list_alt</mat-icon> <span class="menu-text">Publicaciones</span>
      </li>
    </ul>

  </mat-drawer>

  <div class="main-container">
    <!--
    <button class="collapse-button" mat-mini-fab color="primary" (click)="drawer.toggle()">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
    -->
    <router-outlet></router-outlet>

  </div>

</mat-drawer-container>
