.pages-container {
  width: 100%;
  height: 100%;
  font-family: 'DMSans';
}

.main-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 2em;
  font-family: 'DMSans';
}

.header-greeting{
  font-size:30px;
  font-weight: bolder;
  font-family: 'DMSans';
}

.sidenav {
  min-width: 200px;
}

ul {
  list-style: none;
  text-align: left;
}

li {
  cursor: pointer;
  padding: 15px;
  font-weight: bold;
  opacity: 0.62;
}

.is-active {
  font-weight: bold;
}

.menu-icon {
  cursor: pointer;
  padding: 0 14px;
  font-size: 24px;
  color: black;
}

.mat-icon{
  vertical-align: middle;
  color: black;
}

.menu-text {
  font-size: 16px;
  font-weight: 600;
  color: black;
}
