<div class="whatsapp">
  <jjva-ngx-whatsapp-button [ngx_whatsapp_phone]="phone" [ngx_whatsapp_text]="title"></jjva-ngx-whatsapp-button>
</div>
<main class="main">
  <div class="main-cont">
    <div class="header">
      <img class="header__logo" src="assets/img/logo.png" alt="logo">
    </div>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
      <h3 class="form__title">Ingresar</h3>
      <label class="form__label">e-Mail</label>
      <input autocomplete="off" class="form__input" type="mail" required formControlName="email"><br>
      <label class="form__label">Contraseña</label>
      <input class="form__input" type="password" formControlName="password">
      <button class="form__submit" type="submit">
        <span>Ingresar</span>
      </button>
    </form>
    <footer class="footer" style="display: none">
      <a class="footer__loss-pass" href="#">¿Olvidaste la contraseña?</a>
      <div class="footer__new-user">
        <a href="#">Crear una cuenta</a>
      </div>
    </footer>
  </div>
</main>

