.field-create-edit-modal {
  min-width: 450px;
}

.field-hour-create-edit-modal {
  min-width: 236px;
}

.card-create-edit-container {
  display: flex;
  flex-direction: column;
}

.separator-dates {
  margin-right: 10px;
  margin-left: 10px;
}

.separator-hours {
  margin-right: 10px;
  margin-left: 10px;
}

