.logout-button {
  cursor: pointer;
  padding: 0 14px;
}
.toolbar-spacer {
  flex: 1 1 auto;
}

.menu-title {
  font-size: xx-large;
}

.menu-item {
  margin-left: 20px;
  cursor: pointer;
  font-size: smaller;
}
