.logout-button {
  cursor: pointer;
  padding: 0 14px;
}
.toolbar-spacer {
  flex: 1 1 auto;
}

.menu-title {
  font-size: xx-large;
  cursor: pointer;
  /*background-image: url('/assets/img/logo.png');*/
}

.menu-item {
  margin-left: 20px;
  cursor: pointer;
  font-size: smaller;
}

.username {
  font-size: 0.8em;
  font-family: 'DM Sans';
}

.profile-icon {
  cursor: pointer;
  padding: 0 14px;
}

::ng-deep .tooltip-primary {
 /* background: rgba(103, 58, 183, 0.9) !important;*/
  font-size: 1em;
}


::ng-deep .tooltip-danger {
  background: rgba(167, 52, 52, 0.9) !important;
  font-size: 1em;
}
