:host {
  height: 100%;
  width: 100%;
}

.assistants-container {
  min-height: 350px;
}

.assitants-table {
  max-height: 350px;
}

table {
  width: 100% !important;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.users-toolbar {
  display: flex;
}

.delete-assistant {
  cursor: pointer;
}

.red-icon {
  color: red;
}
