.field-user-create-edit-modal {
  min-width: 450px;
}

.card-course-create-edit-container {
  display: flex;
  flex-direction: column;
}

.card-user-create-edit-container {
  display: flex;
  flex-direction: column;
}

.close-dialog-button {
  cursor: pointer;
  float: right;
}

.profile-pic {
  max-height: 50px;
  max-width: 50px;
}

::ng-deep .tooltip-primary {
  background: rgba(103, 58, 183, 0.9) !important;
  font-size: 1em;
}

.separator-dates {
  margin-right: 10px;
  margin-left: 10px;
}
