<div class="technology-create-edit-container">

  <mat-card>

    <div class="close-dialog-button">
      <mat-icon (click)="closeDialog()" color="primary">
        close
      </mat-icon>
    </div>

    <form [formGroup]="categoryForm" (ngSubmit)="createEditCategory()">

      <mat-card-header>
        <mat-card-title> Categoría </mat-card-title>
      </mat-card-header>

      <mat-card-content class="card-technology-create-edit-container">

        <!-- Name -->
        <mat-form-field appearance="fill" class="field-login" class="field-technology-create-edit-modal">
          <mat-label for="name">Nombre</mat-label>
          <input id="name" matInput placeholder="Ej: base de datos" required formControlName="name">
        </mat-form-field>

      </mat-card-content>

      <div>
        <mat-dialog-actions align="center">
          <button mat-button
                  [disabled]="categoryForm.invalid"
          >Confirmar
          </button>
        </mat-dialog-actions>
      </div>

    </form>

  </mat-card>

</div>
