

<h1 style="font-size:40px; font-family:'DM Sans'; font-weight: 600; text-align: center;">Hola {{user.name}} {{user.lastName}}!</h1>

<div class="users-toolbar">
  <mat-form-field appearance="standard">
    <mat-label>Buscar</mat-label>
    <input matInput autocomplete="off" (keyup)="applyFilter($event)" placeholder="Clase" #input>
  </mat-form-field>
</div>




<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Class Column
  <ng-container matColumnDef="class">
    <th mat-header-cell *matHeaderCellDef> Clase </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  -->

  <!-- date Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef class="th-student-list"> Fecha </th>
    <td mat-cell *matCellDef="let element" class="td-student-list"> {{element.date | date }} </td>
  </ng-container>

  <!-- hour Column -->
  <ng-container matColumnDef="hour">
    <th mat-header-cell *matHeaderCellDef class="th-student-list"> Hora </th>
    <td mat-cell *matCellDef="let element" class="td-student-list"> {{element.timeFrom}} </td>
  </ng-container>


  <!-- course Column -->
  <ng-container matColumnDef="course">
    <th mat-header-cell *matHeaderCellDef class="th-student-list"> Curso </th>
    <td mat-cell *matCellDef="let element" class="td-student-list"> {{element.course.name}} </td>
  </ng-container>

  <!-- subject Column -->
  <ng-container matColumnDef="subject">
    <th mat-header-cell *matHeaderCellDef class="th-student-list"> Topic </th>
    <td mat-cell *matCellDef="let element" class="td-student-list"> {{ element.comments }} </td>
  </ng-container>
  
  <!-- documents Column -->
  <ng-container matColumnDef="documents">
    <th mat-header-cell *matHeaderCellDef class="th-student-list"> Docs </th>
    <td mat-cell *matCellDef="let element" class="td-student-list"> <a href="{{ element.linkContentClass }}" target="_blank">Material</a> </td>
  </ng-container>

   <!-- documents Column -->
   <ng-container matColumnDef="meet">
    <th mat-header-cell *matHeaderCellDef class="th-student-list"> Meet </th>
    <td mat-cell *matCellDef="let element" class="td-student-list"> <a href="{{ element.commission.meetLink }}" target="_blank">Entrar</a> </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="7">Sin reultados</td>
  </tr>
</table>
