  <mat-card class="detail-container">
    <div class="tab-detail-card-calendar-event">

      <div>
        <button mat-fab color="primary" (click)="openDialog()">
          <mat-icon>edit</mat-icon>
        </button>
      </div>


      <div>

        <mat-card-header>
          <mat-card-title> {{ calendarEvent.course.name  }} </mat-card-title>
          <mat-card-subtitle> {{ calendarEvent.course.technology.name }} </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>Dias:
            <span *ngFor="let day of calendarEvent['days']">
              {{ hashWeek[day] }}
            </span>
          </p>
          <p>Horario:
            <span>
              {{ calendarEvent.timeFrom }} - {{ calendarEvent.timeTo }}
            </span>
          </p>
          <p>Mentor:
            <span>
              {{ calendarEvent.mentor.name }} {{ calendarEvent.mentor.lastName }}
            </span>
          </p>
        </mat-card-content>

      </div>
    </div>
  </mat-card>
