:host {
  height: 100%;
  width: 100%;
}

.detail-container {
  min-height: 350px;
}

.separator {

}

.tab-detail-card-calendar-event {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

mat-card-content {
  padding: 20px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.detail-title-container {
  margin-bottom: 15px;
}

.detail-title {
  font-weight: 500;
  margin-right: 15px;
}
