  <mat-card class="detail-container">
    <div class="tab-detail-card-calendar-event">

      <div class="buttons-action">
        <button mat-fab color="primary" (click)="openDialog()">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-fab color="warn" (click)="removeClass(calendarEvent._id)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </div>


      <div>

        <mat-card-header>
          <mat-card-title> <span class="title-commission"> Comisión: </span> {{ calendarEvent.commission.name  }} </mat-card-title>
          <mat-card-subtitle> <span class="subtitle-course"> Curso: </span> {{ calendarEvent.course.name }} </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>

          <div class="detail-title-container">
            <span class="detail-title"> Dias: </span>
            <span *ngFor="let day of calendarEvent['days']">
              {{ hashWeek[day] }}
            </span>
          </div>

          <div class="detail-title-container">
            <span class="detail-title"> Horario: </span>
            <span>
              {{ calendarEvent.timeFrom }} - {{ calendarEvent.timeTo }}
            </span>
          </div>

          <div class="detail-title-container">
            <span class="detail-title"> Mentor: </span>
            <span>
              {{ calendarEvent.mentor.name }} {{ calendarEvent.mentor.lastName }}
            </span>
          </div>

        </mat-card-content>

      </div>
    </div>
  </mat-card>
