.calendar-toolbar {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 25px;
  align-items: center;
}

.action-buttons {
  margin-right: 4px;
}

.button-label {
  margin-right: 15px;
}

:host {
  width: 100%;
}

table {
  width: 100% !important;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.courses-toolbar {
  display: flex;
}

.delete-assistant {
  cursor: pointer;
}

.red-icon {
  color: red;
}

.blue-icon {
  color: #5757a4;
}

.buttons-action {
  display: flex;
  flex-direction: column;
}

.header-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
