/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html, body { height: 100%; }
* { margin: 0; font-family: 'DM Sans', sans-serif; }

.mat-toolbar {
    background: #ffffff;
    color: rgba(0,0,0,.87);
}